/* 

 Sample style sheet for viewing XTiger template documents transformed with xTigerTrans

*/

.optionTemplate{
	/*border-width:1px;
	border-right-width:0px;
	border-top-width:0px;
	border-color:blue;
	border-style:solid;
	padding: 2px;
	margin-bottom:2px;
	font-size:15;*/
}

.componentTemplate{
	border-width:1px;
	border-right-width:0px;
	border-top-width:0px;
	border-color:red;
	border-style:solid;
	padding:2px;
}

.repeatTemplate{
	/*border-width:1px;
	border-top-width:0px;
	border-right-width:0px;
	border-color:yellow;
	border-style:solid;
	padding: 2px;
	margin-bottom:2px;
	font-size:15;*/
}

.string{
color:green;
	font-size:15;
}
.boolean{
color:green;
	font-size:15;
}
.number{
color:green;
	font-size:15;
}
a.info {
   position: relative;
   color: black;
   text-decoration: none;
   /*border-bottom: 1px gray dotted; /* on souligne le texte */
}
span.title {
   display: none; /* on masque l'infobulle */
}
a.info:hover {
   background: none; /* correction d'un bug IE */
   z-index: 500; /* on définit une valeur pour l'ordre d'affichage */

   cursor: help; /* on change le curseur par défaut en curseur d'aide */
}
a.info:hover span.title{
   display: inline; /* on affiche l'infobulle */
   position: absolute;

   white-space: nowrap; /* on change la valeur de la propriété white-space pour qu'il n'y ait pas de retour à la ligne non-désiré */

   top: 3px; /* on positionne notre infobulle */
   left: 20px;

   background: white;

   color: green;
   padding: 3px;

   border: 1px solid green;
   border-left: 4px solid green;
}

a.normalText{
	text-decoration:none;
}

.unSelected{
	border: 1px solid green;
	cursor: pointer;
}
.selected{
	border : 1px solid green;
	background-color:green;
	cursor: pointer;
}

.useCadre{
	border: 1px green solid;
	border-right-width:0px;
}