<?xml version="1.0" encoding="UTF-8"?>
<?xtiger template="/Users/admin/Desktop/didactic_templates/eprep_template.xtd" version="0.8"?>
<html xmlns:xt="http://wam.inrialpes.fr/xtiger" xml:lang="en" lang="en">
<head>
  	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	  <meta name="description" content="university librairy" />
	  <meta name="keywords" content="librairy university" />
	  <meta name="template_class" content="amaya-cv-en-0.1" />
  <title>EPrep</title>
</head>

<body>
<xt:use types="practice" label="practice" currentType="practice">
	<div id="cop">
  		Cop <xt:use label="cop" types="string" currentType="string">ePrep</xt:use>
	</div>

	<div id="author">
		Author: <xt:use label="author" types="string" currentType="string">Nathalie Van de Wiele </xt:use>
	</div>

	<h1>
		<xt:use label="title" types="string" currentType="string">Design-In-Use: a PALETTE tool (LimSee3) used for a History Course </xt:use> at <xt:use label="with_who" types="string" currentType="string">Lycée Henri IV</xt:use> in <xt:use label="where" types="string" currentType="string">Paris</xt:use> (<xt:use label="when" types="string" currentType="string">October 2007</xt:use>)
	</h1>
  <xt:repeat label="intentions" minOccurs="0" maxOccurs="*">
	<xt:use label="intention" types="intention" prompt="prompt" currentType="intention">
		<xt:use label="intention_string" types="string" currentType="string">
		The PALETTE scenario for the ePrep CoP describes, in its section 4.2.6,
        the use of LimSee3 for one of the CoP activities: "International
        cooperation between CPGEs and similar establishments". The
        elaboration of this scenario, involving PALETTE researchers and ePrep
        CoP members, constitutes the first phase of the Participatory Design
        Methodology at the core of the development of PALETTE tools and
        services: the Design-For-Use. The second phase of the Participatory
        Design Methodology, the Design-In-Use, consists in the
        experimentation of PALETTE tools and services in the framework of
        real activities developed by a CoP. The present document describes
        such a Design-In-Use approach for the scenario introduced above, on
        the occasion of a History course, at Lycée Henri IV in Paris, on
        October 17, 2007.
		</xt:use>
	</xt:use>
  </xt:repeat>
  <xt:repeat label="strategies" minOccurs="0" maxOccurs="*">
    <xt:use label="strategy" types="strategy" prompt="prompt" currentType="strategy">
		<xt:use label="strategy_string" types="string" currentType="string">
		This Design-In-Use event had been jointly prepared by two PALETTE
        researchers (Cécile ROISIN and Jan MIKAC - LimSee3 developer, from
        INRIA Rhône-Alpes, WAM project-team), an ePrep CoP member (Jean-Marc
        WOLFF, History teacher in CPGE at Lycée Henri IV) and the
        mediator/coordinator of the CoP (Nathalie VAN DE WIELE). A decision
        was made to record a real History course of Jean-Marc Wolff at Lycée
        Henri IV in order to build, with LimSee3, a teaching module to be
        presented and discussed at the Second ePrep Thematic Workshop (Lyon,
        November 5 &amp;6).
		</xt:use>
	</xt:use>
  </xt:repeat>
  <xt:repeat label="actions" minOccurs="0" maxOccurs="*">
    <xt:use label="action" types="action" prompt="prompt"
      currentType="action"><h2><xt:use label="action_title" types="string"
      prompt="prompt" currentType="string">Recording a History course at
        Lycée Henri IV</xt:use></h2>
      <xt:use label="action_string" types="string" prompt="prompt"
      currentType="string">The title of the course was "The first World War
        and the painters". The pedagogical material provided by Jean-Marc
        WOLFF gathered two PowerPoint slide shows including pictures
        (painters' masterpieces), audio records (Stravinski, Bartok...), Web
        links to virtual museums:</xt:use><ul>
        <xt:repeat label="supports" minOccurs="0" maxOccurs="*">
          <xt:use label="support" types="support" prompt="prompt"
          currentType="support"><li><xt:use label="support_string"
              types="string" currentType="string">the first slide show was an
                exercice proposing the 46 students attending the course to
                recognise the different painting periods from 1870 to 1914:
                impressionism, fauvism, cubism...,</xt:use></li>
          </xt:use><xt:use label="support" types="support" prompt="prompt"
          currentType="support"><li><xt:use label="support_string"
              types="string" currentType="string">the second slide show was
                the course itself.</xt:use></li>
          </xt:use></xt:repeat>
      </ul>
      The technical recording material was: <ul>
        <xt:repeat label="ressources" minOccurs="0" maxOccurs="*">
          <xt:use label="ressource" types="ressource" prompt="prompt"
          currentType="ressource"><li><xt:use label="ressource_string"
              types="string" currentType="string">a digital movie camera and
                a camera stand,</xt:use></li>
          </xt:use><xt:use label="ressource" types="ressource" prompt="prompt"
          currentType="ressource"><li><xt:use label="ressource_string"
              types="string" currentType="string">a digital audio recorder
                with a tie microphone.</xt:use></li>
          </xt:use></xt:repeat>
      </ul>
    </xt:use><xt:use label="action" types="action" prompt="prompt"
    currentType="action"><h2><xt:use label="action_title" types="string"
      currentType="string">Participatory Design meeting after the
      course</xt:use></h2>
      <xt:use label="action_string" types="string" currentType="string">A
        Participatory Design informal meeting took place after the course
        involving the two PALETTE researchers Cécile and Jan and the ePrep
        CoP member Jean-Marc. Cécile and Jan proposed to Jean-Marc, in
        response of his need to include textual extracts in the final
        teaching module, to add on LimSee3 a new window for text, completing
        the three windows offered at the moment (one for the slide show, one
        for the video-audio recording, one for the plan of the course). Jan
        explained to Jean-Marc that in the future, he will be able to
        directly build his presentation with LimSee3, without using
        PowerPoint or any other software, and this very easily thanks to the
        "library" functionalities offered by LimSee3 (the picture files are
        stored in this library and chosen one by one when building the
        slides). When Jean-Marc evoked the way he intends to use the final
        teaching module after his course, in a post production way, Cécile
        suggested to replace the picture files stored in the library by Web
        links, as all pictures were found on the Web by Jean-Marc, in order
        to have a very light final LimSee3 file (Jean-Marc added that this
        way would also provide a very convenient solution regarding authors'
        rights).</xt:use>
    </xt:use><xt:use label="action" types="action" prompt="prompt"
    currentType="action"><h2><xt:use label="action_title" types="string"
      currentType="string">Further steps</xt:use></h2>
      <xt:use label="action_string" types="string" currentType="string">Cécile
        and Jan came back to INRIA with the two slide shows (ppt files), the
        audio record (mp3 files), the video record (mov file). The further
        steps are the following. * Jan will modify some functionalities of
        the software, then he will prepare the first part of the teaching
        module (keeping in touch with Jean-Marc for the pedagogical
        validation aspects). * This first part of the teaching module will be
        presented at the Second ePrep thematic Workshop, by Jean-Marc on a
        pedagogical point of view, and by Jan on a technological point of
        view. * A training will be organised in early 2008 by PALETTE
        researchers for all ePrep CoP members, to learn them how to build a
        course using LimSee3 in order to realise the slide show and to
        synchronise the different medias (slide show, audio record, video
        record, textual extracts). This training will be recorded as a
        tutorial. * On this occasion, the Design-In-Use approach will be
        further developed. In conclusion, we will mention that, as already
        stated in the scenario presented in the introduction, LimSee3 not
        only offers an improved tool for the development of teaching modules
        by ePrep CoP members. Since it is based on XML/SMIL technologies,
        LimSee3 is particularly well suited for sharing and reusing
        pedagogical content in the framework of the CoP activity:
        "International cooperation between CPGEs and similar
      establishments".</xt:use>
    </xt:use></xt:repeat>
</xt:use></body>
</html>
