<?xml version="1.0" encoding="UTF-8"?>
<?xtiger template="/Users/admin/Desktop/test_xslt/Library/previous_library.xtd" version="0.8"?>
<html
 xmlns:xt="http://wam.inrialpes.fr/xtiger" xml:lang="en" lang="en">
<head>
  <title>library_instance_2</title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
  <meta name="description" content="university librairy" />
  <meta name="keywords" content="librairy university" />
  <meta name="template_class" content="amaya-cv-en-0.1" />
  <style type="text/css">
		*{
			border:0px;
			padding:0px;
		}
		
		h1{
			display:none;
		}
		
		h2{
			margin-top:0px;
			margin-bottom:5px;
			padding:5px;
		}
		
		.name h2{
			background-color:#E0824F;
			color:#FFF;
		}
		

		
		.address h2{
			display:none;
		}
		
		.author{
			margin-left:30px;
			margin-right:30px;
			clear:both;
		}
		

		
		.library{
			border:1px solid #E0590F;
		}
		
		.library h2{
			background-color:#E0A17E;
		}
		
		.publications{
			margin:10px;
		}
		
		.book_cover{
			width:50px;
			height:70px;
			float:left;
			border:1px dashed black;
			margin:0px 5px 5px 5px;
			text-align:center;
		}
		
		.end{
			clear:both;
		}
	</style>
</head>

<body>

<div class="university">
<h1>University</h1>
<xt:use types="uni" label="uni" currentType="uni">
  <div class="name">
  <h2><xt:use types="string" label="uni_name"
  currentType="string">EPFL</xt:use></h2>
  </div>

  <div class="address">
  <h2>Address</h2>
  <xt:use types="string" label="location" currentType="string">Address
    Lausanne Vaud Switzerland</xt:use></div>

  <div class="library">
  <h2>Articles</h2>
  <xt:repeat label="articles" minOccurs="0" maxOccurs="*">
    <xt:use types="article" label="article" currentType="article">
      <div class="book_cover">
      <i>cover</i> </div>

      <div class="article">

      <div class="title">
      Title : <xt:use types="string" label="title" currentType="string">Le
        poker, ma vie</xt:use></div>
      <xt:use types="author" label="author" currentType="author">
        <div class="author">
        <h3>Author</h3>

        <div class="name">
        Name : <xt:use types="string" label="author_name"
        currentType="string">Patrick Bruel</xt:use></div>
        <xt:use types="address" label="address" currentType="address">
          <div class="address">

          <div class="city">
          City : <xt:use types="string" label="city"
            currentType="string">Marseille</xt:use></div>

          <div class="state">
          State : <xt:use types="string" label="state"
            currentType="string">Sud</xt:use></div>

          <div class="zip">
          Zip : <xt:use types="number" label="zip"
          currentType="number">1212</xt:use></div>
          </div>
        </xt:use></div>
      </xt:use></div>
    </xt:use></xt:repeat>

  <h2>Journals</h2>
  <xt:repeat label="journals" minOccurs="0" maxOccurs="*">
    <xt:use types="journal" label="journal" currentType="journal">
      <div class="book_cover">
      <i>cover</i> </div>

      <div class="journal">

      <div class="name">
      Name : <xt:use types="string" label="name"
        currentType="string">Impartial</xt:use></div>

      <div class="editor">
      Editor : <xt:use types="string" label="editor"
        currentType="string">Express</xt:use></div>
      </div>

      <div class="end">
      </div>
    </xt:use></xt:repeat>

  <h2>Books</h2>
  <xt:repeat label="books" minOccurs="0" maxOccurs="*">
    <xt:use types="book" label="book" currentType="book">
      <div class="book_cover">
      <i>cover</i> </div>

      <div class="book">

      <div class="title">
      Title : <xt:use types="string" label="title" currentType="string">La
        joueuse de Go</xt:use></div>

      <div class="price">
      Price : <xt:use types="number" label="price"
      currentType="number">10.00</xt:use>Frs </div>

      <div class="publisher">
      Publisher : <xt:use types="string" label="publisher"
      currentType="string">China Press</xt:use></div>

      <div class="author">
      <xt:use types="author" label="author"
        currentType="author"><h3>Author</h3>

        <div class="name">
        Name : <xt:use types="string" label="author_name"
        currentType="string">Shan Sa</xt:use></div>
        <xt:use types="address" label="address" currentType="address">
          <div class="address">

          <div class="city">
          City : <xt:use types="string" label="city"
            currentType="string">Paris</xt:use></div>

          <div class="state">
          State : <xt:use types="string" label="state"
            currentType="string">Ile de France</xt:use></div>

          <div class="zip">
          Zip : <xt:use types="number" label="zip"
          currentType="number">1234</xt:use></div>
          </div>
        </xt:use></xt:use></div>
      </div>
    </xt:use><xt:use types="book" label="book" currentType="book">
      <div class="book_cover">
      <i>cover</i> </div>

      <div class="book">

      <div class="title">
      Title : <xt:use types="string" label="title" currentType="string">La
        Porte de la paix céleste</xt:use></div>

      <div class="price">
      Price : <xt:use types="number" label="price"
      currentType="number">12.00</xt:use>Frs </div>

      <div class="publisher">
      Publisher : <xt:use types="string" label="publisher"
      currentType="string">China Press</xt:use></div>

      <div class="author">
      <xt:use types="author" label="author"><h3>Author</h3>

        <div class="name">
        Name : <xt:use types="string" label="author_name"
        currentType="string">Shan Sa</xt:use></div>
        <xt:use types="address" label="address">
          <div class="address">

          <div class="city">
          City : <xt:use types="string" label="city"
            currentType="string">Paris</xt:use></div>

          <div class="state">
          State : <xt:use types="string" label="state"
            currentType="string">Ile de France</xt:use></div>

          <div class="zip">
          Zip : <xt:use types="number" label="zip"
          currentType="number">1234</xt:use></div>
          </div>
        </xt:use></xt:use></div>
      </div>
    </xt:use><xt:use types="book" label="book" currentType="book">
      <div class="book_cover">
      <i>cover</i> </div>

      <div class="book">

      <div class="title">
      Title : <xt:use types="string" label="title"
        currentType="string">Pierre Bellmare</xt:use></div>

      <div class="price">
      Price : <xt:use types="number" label="price"
      currentType="number">50.00</xt:use>Frs </div>

      <div class="publisher">
      Publisher : <xt:use types="string" label="publisher"
      currentType="string">publisher</xt:use></div>

      <div class="author">
      <xt:use types="author" label="author"><h3>Author</h3>

        <div class="name">
        Name : <xt:use types="string" label="author_name"
        currentType="string">Pierre Bellmare</xt:use></div>
        <xt:use types="address" label="address">
          <div class="address">

          <div class="city">
          City : <xt:use types="string" label="city"
          currentType="string">Lile</xt:use></div>

          <div class="state">
          State : <xt:use types="string" label="state"
            currentType="string">state</xt:use></div>

          <div class="zip">
          Zip : <xt:use types="number" label="zip"
          currentType="number">1232</xt:use></div>
          </div>
        </xt:use></xt:use></div>
      </div>
    </xt:use></xt:repeat>
  </div>
</xt:use></div>
</body>
</html>
