<?xml version="1.0" encoding="UTF-8"?>
<?xtiger template="/Users/admin/Desktop/test_xslt/PV/pv_aida_source.xtd" version="0.8" templateVersion="1.0"?>
<html xmlns:xt="http://wam.inrialpes.fr/xtiger" xml:lang="en" lang="en">
	<head>
		<title>
			<xt:use types="string" currentType="string">pv
  source</xt:use>
		</title>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
		<meta name="description" content="pv" />
		<meta name="keywords" content="pv" />
		<meta name="template_id" content="amaya-pv-en-0.1" />
		<style type="text/css">
			*{
			border:0px;
			padding:0px;
			}
			h2{
			margin:0 0 5 0;
			padding:5px;
			background-color:#00008B;
			color:#FFF;
			}
			.global_info{
			background-color:#ADD8E6;
			}
			.global_info h2{
			display:none;
			}

			.participants{
			border:1px solid #000000;
			clear:both;
			margin-bottom:10px;
			margin-top:10px;
			padding:5px;
			}
			.participants h3{
			display:none;
			}
			.person{
			border-bottom:1px solid black;
			padding-bottom:5px;
			margin-bottom:5px;
			}

			.agenda{
			border:1px solid #000000;
			padding:5px;
			clear:both;
			}

			.sub_item{
			margin-left:30px;
			}

			.title{
			margin-left:25px;
			margin-right:25px;
			clear:both;
			}

			.related_doc{
			border:1px solid #000000;
			margin-top:10px;
			}

			.action_plan{
			border:1px solid #000000;
			margin-top:10px;
			}
			
		</style>

	</head>
	<body>
		<div id="pv">
			<div class="global_info">
				<h2>Global information</h2>
				<xt:use label="meeting" types="meeting" currentType="meeting">
					<h1>Title :
  <xt:use label="title" types="string" currentType="string">Steering
  Comitee</xt:use>

					</h1>
  Location :<xt:use label="location" types="string" currentType="string">Luxembourg, Centre Henri Tudor</xt:use>- Date :<xt:use label="date" types="string" currentType="string">18th of February 2007</xt:use>- Written by : <xt:use label="written_by" types="string" currentType="string">Nathalie Ruffa</xt:use>
				</xt:use>
			</div>
			<div class="participants">
				<h2>Participants</h2>

				<xt:repeat minOccurs="1" maxOccurs="*" currentOccurs="2" label="persons">
					<xt:use label="person" types="person" currentType="person">
						<div class="person">
							<h3>Person</h3>
    Name : <xt:use label="name" types="string" currentType="string">Aida Boukottaya</xt:use>
							<br />
    Affiliation : <xt:use label="affiliation" types="string" currentType="string">EPFL</xt:use>

							<br />
    Role : <xt:use label="role" types="string" currentType="string">WP5
    Leader</xt:use>
						</div>
					</xt:use>
					<xt:use label="person" types="person" currentType="person">
						<div class="person">
							<h3>Person</h3>

    Name : <xt:use label="name" types="string" currentType="string">Bastien Vaucher</xt:use>
							<br />
    Affiliation :<xt:use label="affiliation" types="string" currentType="string">EPFL</xt:use>
							<br />
    Role : <xt:use label="role" types="string" currentType="string">Developer
       </xt:use>
						</div>

					</xt:use>
				</xt:repeat>
			</div>
			<div class="agenda">
				<h2>Agenda</h2>
				<xt:repeat minOccurs="1" maxOccurs="*" currentOccurs="2" label="items">
					<xt:use types="item" label="item" currentType="item">
						<h3>

							<xt:use label="number" types="number" currentType="number">1</xt:use>. <xt:use label="title" types="string" currentType="string">DocReuse
    Planning</xt:use>
						</h3>
						<xt:repeat minOccurs="1" maxOccurs="*" currentOccurs="2" label="sub_items">
							<xt:use label="sub_item" types="sub_item" currentType="sub_item">
								<div class="sub_item">
									<h4>
										<xt:use label="number" types="number" currentType="number">1.1</xt:use>

										<xt:use label="title" types="string" currentType="string">Defining main points</xt:use>
									</h4>
        Description : <xt:use label="description" types="string" currentType="string">Managing the DocReuse planning</xt:use>
									<br />
        Main decisions : <xt:use label="main_decisions" types="string" currentType="string">Points</xt:use>
									<br />

								</div>
							</xt:use>
						</xt:repeat>
					</xt:use>
					<xt:use types="item" label="item" currentType="item">
						<h3>
							<xt:use label="number" types="number" currentType="number">2</xt:use>. <xt:use label="title" types="string" currentType="string">DocReuse
    Development</xt:use>

						</h3>
						<xt:repeat minOccurs="1" maxOccurs="*" currentOccurs="2" label="sub_items">
							<xt:use label="sub_item" types="sub_item" currentType="sub_item">
								<div class="sub_item">
									<h4>
										<xt:use label="number" types="number" currentType="number">2.1</xt:use>
										<xt:use label="title" types="string" currentType="string">Supervising the development</xt:use>
									</h4>

        Description : <xt:use label="description" types="string" currentType="string">Following every step of the development 
        </xt:use>
									<br />
        Main decisions : <xt:use label="main_decisions" types="string" currentType="string">none</xt:use>
									<br />
								</div>
							</xt:use>
							<xt:use label="sub_item" types="sub_item" currentType="sub_item">

								<div class="sub_item">
									<h4>
										<xt:use label="number" types="number" currentType="number">2.2</xt:use>
										<xt:use label="title" types="string" currentType="string">Coding</xt:use>
									</h4>
        Description :  <xt:use label="description" types="string" currentType="string">Implementing the tool</xt:use>
									<br />

        Main decisions : <xt:use label="main_decisions" types="string" currentType="string">code structure</xt:use>
									<br />
								</div>
							</xt:use>
						</xt:repeat>
					</xt:use>
				</xt:repeat>
			</div>

			<div class="related_doc">
				<h2>Related documents</h2>
				<xt:repeat minOccurs="1" maxOccurs="*" currentOccurs="1" label="related_docs">
					<xt:use label="related_docs" types="related_docs" currentType="related_docs">Document name : <xt:use label="name" types="string" currentType="string">none</xt:use>
						<br />
    Link : <a href="http://url/">
							<xt:use label="link" types="string" currentType="string">no link</xt:use>

						</a>
					</xt:use>
				</xt:repeat>
			</div>
			<div class="action_plan">
				<h2>Action plan</h2>
				<xt:repeat minOccurs="1" maxOccurs="*" currentOccurs="3" name="actions">
					<xt:use label="action_plan" types="action_plan" currentType="action_plan">

						<xt:use label="item_number" types="number" currentType="number">1.1</xt:use>
						<br />
    Action : <xt:use label="action" types="string" currentType="string">Defining main points</xt:use>
						<br />
    Responsible : <xt:use label="responsible" types="string" currentType="string">Aida Boukottaya</xt:use>
						<br />

    Deadline : <xt:use label="deadline" types="string" currentType="string">05/03/2007</xt:use>
						<br />
					</xt:use>
					<xt:use label="action_plan" types="action_plan" currentType="action_plan">
						<xt:use label="item_number" types="number" currentType="number">2.1</xt:use>
						<br />
    Action : <xt:use label="action" types="string" currentType="string">Supervising the development</xt:use>

						<br />
    Responsible : <xt:use label="responsible" types="string" currentType="string">Aida Boukottaya</xt:use>
						<br />
    Deadline : <xt:use label="deadline" types="string" currentType="string">15/05/2007</xt:use>
						<br />
					</xt:use>
					<xt:use label="action_plan" types="action_plan" currentType="action_plan">

						<xt:use label="item_number" types="number" currentType="number">2.2</xt:use>
						<br />
    Action : <xt:use label="action" types="string" currentType="string">Implementing the tool</xt:use>
						<br />
    Responsible :<xt:use label="responsible" types="string" currentType="string">Bastien Vaucher</xt:use>
						<br />

    Deadline : <xt:use label="deadline" types="string" currentType="string">15/05/2007</xt:use>
						<br />
					</xt:use>
				</xt:repeat>
			</div>
		</div>
	</body>
</html>

