/* 

 Sample style sheet for viewing XTiger template documents transformed with xTigerTrans

*/
body {
	min-width: 650px;
}

.component{
	margin: 5px;
	padding: 2px;
}

.typeComponents { margin-right: 10px; }

.use {	
	border: 2px solid yellow;
	margin: 2px;
	padding: 2px;
}

.optional {
	border: 2px solid yellow;	
}

.bag {
	border: 2px solid green;	
	margin: 2px;
	padding: 2px;
}

.option{
	border: 2px dashed cyan;
	margin: 5px;
	padding: 5px;
}

.repeat{
	border: 2px dashed orange;
	margin: 5px;
	padding: 5px;
}
.span{
color:red;
}
.string{
color:orange;
}
.boolean{
color:green;
}
.number{
color:green;
}