
.component{
	display: block;
	border-width:2px;
	border-color:rgb(192,192,192);
	border-style:solid;
	padding: 2px;
	margin-bottom:2px;
}

.componentName{
	font-size:25;
}


.componentContent{
	padding: 2px;
	margin-bottom:2px;
}

.option{
	padding: 0;
	margin: 0;
}


.optionLabel {
  float: left;
	padding: 2px;
	font-size:25;
}

.optionContent{
	padding: 0;
	margin: 0;	
}

.use{
	padding: 0;
	margin: 0;
}

.useLabel{
  float: left;
	padding: 2px;
	font-size:25px;
}

.useContent{
	display: block;
	padding: 0;
	margin: 0;
}


.repeat{
	padding: 0;
	margin: 0;

}

.column {
}

.repeatLabel {
  float: left;
	padding: 2px;
	font-size:25;
}

.repeatContent{
	padding: 0;
	margin: 0;
}

.string{
display: inline;
color:green;
border-width: 1px;
border-style: dashed;
border-color:green;
}
.boolean{
display: inline;
border-style: dashed;
color:green;
border-width: 1px;
border-color:green;
}
.number{
display: inline;
color:green;
border-style: dashed;
border-width: 1px;
border-color:green;
}